{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Color</th>
            <th>Age</th>
            <th>Type</th>
            <th>Location</th>

        </tr>
        </thead>
        <tbody>
        {% for antelope in antelopes %}
            <tr>
                <td>{{ antelope.idAntelope }}</td>
                <td>{{ antelope.name }}</td>
                <td>{{ antelope.color }}</td>
                <td>{{ antelope.age }}</td>
                <td>{{ antelope.type.typeName }}</td>
                <td>{{ antelope.location.locationName }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
